<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
<div class="container">
  <%- include('../partials/addReview.ejs'); %>

  <h1>Here is what everyone is reviewing!</h1>
  
</div>
</main>

<%- include ('../partials/footer') %>