
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<style>
  body  {
    background-image: url("https://res.cloudinary.com/dot0ix9d8/image/upload/v1669849125/Test1/y6xccqs3uskm5mdb1kno.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  </style>
  
<div class="container">

  <div class="form-group row">
    <h1>Create New Post</h1>
  </div>
  <img src= "" id="img-preview" height=360 />
  
  <!--Upload widget start-->
  <button id="upload_widget" class="cloudinary-button">Upload images</button>

  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
  
  <script type="text/javascript">  
  var imgPreview = document.getElementById('img-preview');
  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'dot0ix9d8', 
    uploadPreset: 'people_Cloudinary'}, (error, result) => { 
      if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info); 
        imgPreview.src = result.info.secure_url;
        image_url.value = result.info.secure_url;
        
        submitButton.disabled = false;
      }
    }
  )
    document.getElementById("upload_widget").addEventListener("click", function(){
      myWidget.open();
    }, false);
  </script>
    <!--Upload widget end-->

  <form action="/posting" method="POST">
    <div class="form-group row">
        <h1>Create New Post</h1>
    </div>
    <table class="table">
      <tr>
        <th>
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" maxlength="50" required>
          </div>
        </div>
        </th>
        <th>
          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Categories</label>
            <div class="col-sm-10">
              <select class="custom-select mr-sm-2" id="category" name="category" >
                <option selected>Choose Category</option>
                <option value="objects">Object</option>
                <option value="meme">Meme</option>
                <option value="location">Location</option>
                <option value="animal">Animal</option>
                <option value="ideas">Ideas</option>
                <option value="Food">Food</option>
                <option value="something else">Something Else</option>
              </select>
            </div>
          </div>
        </th>
      </tr>
    </table>
    <h5>Description</h5>
    <div class="form-group row">
      <div class="col-sm-11">
        <textarea class="form-control" maxlength="300" name="description" id="description" placeholder="description" rows="3" required></textarea>
      </div>
    </div>
<!--Upload url start-->
  <div class="form-group row">
    <label for="image_url" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">  
      <input type="hidden" required="required" class="form-control" name="image_url" id="image_url" placeholder="URL" required>
    </div>
  </div>
<!--Upload url end-->
     <div class="col-md-10">
       <button id=submitPost disabled class="btn btn-primary lg" type="submit">Post</button>
        <a href="/home" class="btn btn-primary lg">Back</a>
     </div>
  </form>
  <script>
    const submitButton = document.getElementById("submitPost"); 
    const input = document.getElementById("image_url")
    input.addEventListener("change", (e) => {
      const value = e.currentTarget.value;
      console.log(e.currentTarget.value)});
  </script>
</div>
  <%- include ('../partials/footer') %>