<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
    <!-- YOUR HTML CODE GOES HERE -->
        <h1>User Profile</h1>
    </div>
</main>

<%- include ('../partials/footer') %>