
<form action="/editReview" method="POST">
<div class="modal" id="reviewModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Update Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating row g-3 align-items-center">
            <div class="col-4">
                <label>New Review</label>
            </div>
            <div class="col-8">
                <textarea name="reviewInput" id="reviewInput" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-floating row g-3 align-items-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vote" id="inlineCheckbox1" value="1" required>
            <label class="form-check-label" for="inlineCheckbox1">Upvote</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vote" id="inlineCheckbox2" value="0" required>
            <label class="form-check-label" for="inlineCheckbox2">Downvote</label>
          </div>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id ="SubmitID" name="SubmitID">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>