<header>

    <nav class="navbar navbar-expand-sm border-bottom " style="background-color: #0a0b0b;">
      
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="navbar-brand" href="/home" style="color: gold;">Home</a>
            </li>
            <li class="nav-item" >
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="navbar-brand" href="/trending" style="color: gold;">Trending</a>
              </li>
              <li class="nav-item" >
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="navbar-brand" href="/categories" style="color: gold;">Categories</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="navbar-brand" href="/profile" style="color: gold;">Profile</a>
              </li>
              <li class="nav-item">
                <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                  <a class="navbar-brand" href="/posting" style="color: gold;">Post</a>
              </li>
          </ul>
          <div class="nav-item me-1">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
              <a class="navbar-brand" href="/logout" style="color: gold;">Logout</a>
          </div>
        </div>
        <div class="search-container">
          <form action="/search" METHOD="POST">
            <input type="text" id="searchThing" placeholder="Search.." name="searchThing">
            <button type="button" class="btn btn-link"></button>
          </form>
        </div>
        <div>
          <img src="https://cdn.discordapp.com/attachments/1035623824479232020/1046287428702453830/rottenBuffs.png" style="width:50px;height:50px;">
        </div> 
      </div>
    </nav>
   </header>